## Creating Additional Datasets
> Creating additional datasets from 
1. Transmission Lines
2. Electric Substations

In [24]:
import geopandas as gpd
from shapely.geometry import Point


trx = gpd.read_file("transmission_lines.csv")
es = gpd.read_file("electric_substations.csv")


def processDatasets(file_name, trl):
    print(f'Processing {file_name}')
    for idx, row in trl.iterrows():
        trl.at[idx , 'geometry'] = Point((float(row["longitude"]), float(row["latitude"])))

    trl = trl[["geometry"]]

    display(trl)
    trl.to_file(f"./{file_name}.geojson", driver='GeoJSON')

    with open(f'./{file_name}.geojson','r') as file:
        data = file.read().replace('\n', "").replace(" ","")
        with open(f'./{file_name}.geojson','w') as fw:
            fw.write(data)
            fw.close()
    print("Done!")
    

processDatasets("transmission_lines", trx)
processDatasets("electrical_substations",es)

Processing transmission_lines

                         geometry
0      POINT (137.23112 36.73716)
1      POINT (137.33528 36.73315)
2      POINT (137.37719 36.77005)
3      POINT (137.38137 36.77455)
4      POINT (137.38572 36.77911)
...                           ...
21451  POINT (138.81728 37.30154)
21452  POINT (138.81879 37.30241)
21453  POINT (138.82060 37.30350)
21454  POINT (138.81879 37.30241)
21455  POINT (138.82060 37.30350)

[21456 rows x 1 columns]

Done!
Processing electrical_substations

                       geometry
0    POINT (130.88316 33.88156)
1    POINT (130.88091 33.87233)
2    POINT (130.86147 33.78627)
3    POINT (130.74345 33.85448)
4    POINT (130.76153 33.88776)
..                          ...
292  POINT (138.59678 37.34274)
293  POINT (138.80608 37.29612)
294  POINT (138.80567 37.32737)
295  POINT (138.79362 37.42763)
296  POINT (138.79362 37.42763)

[297 rows x 1 columns]

Done!